# Version Control & Dependencies
.git
.idea
.vscode
vendor/
node_modules/

# Binaries & Builds
bin/
dist/
*.exe
*.test
*.out

# Docusaurus
website/build/
website/.docusaurus/
website/node_modules/

# Environment files
.env*
testdata/
